<div [hidden]="show" class="rounded shadow p-5">

  <div class="row">
    <div class="col-5">
      <form class="row">
        <div class="col-12 mb-4"
          [ngClass]="bitcoinBalance-btcFees-nbtc < 0 || nbtc < 0.0005 ? 'u-has-error' : 'u-has-success'">
          <label class="form-label">Magn</label>
          <input class="form-control" [(ngModel)]="sbtc" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="btcUpdate()" [textMask]="{ mask: btcMask, guide: false }" placeholder="0" />
          <!-- <p class="invalid-feedback" style="display: block;" *ngIf="bitcoinBalance-btcFees-nbtc < 0">Þú átt ekki fyrir færslunni</p> -->
        </div>

      </form>
    </div>

    <div class="col-7">
      <!-- Progress -->
      <!-- <div class="progress mb-1" style="height: .5rem;" *ngIf="bitcoinBalance-nbtc-btcFees >= 0">
          <div class="progress-bar" [style.width.%]="(bitcoinBalance-nbtc)/bitcoinBalance*100"></div>
          <div class="progress-bar bg-warning" [style.width.%]="nbtc/bitcoinBalance*100"></div>
          <div class="progress-bar bg-success" [style.width.%]="btcFees/bitcoinBalance*100"></div>
        </div>

        <div class="progress mb-1" style="height: .5rem;" *ngIf="bitcoinBalance-btcFees-nbtc < 0">
          <div class="progress-bar bg-danger" style="width: 100%"></div>
        </div> -->
      <!-- End Progress -->

      <!-- Fact List -->
      <ul class="list-unstyled font-size-1 mb-0">
        <li class="d-flex align-items-center py-1">
          <small class="far fa-circle text-warning mr-2"></small>
          <span class="font-weight-medium">Færsla</span>
          <div class="ml-auto">
            <span class="text-secondary" *ngIf="nbtc">{{ nbtc | number: '0.0-8' }} BTC</span>
          </div>
        </li>

        <li class="d-flex align-items-center py-1">
          <small class="far fa-circle text-primary mr-2"></small>
          <span class="font-weight-medium">Námuhvati</span>
          <div class="ml-auto">
            <span class="text-secondary" *ngIf="btcFees">{{ btcFees | number: '0.0-8'}} BTC</span>
          </div>
        </li>

        <li class="d-flex align-items-center py-1">
          <small class="far fa-circle text-success mr-2"></small>
          <span class="font-weight-medium">Staða eftir færslu</span>
          <div class="ml-auto">
            <span class="text-secondary" *ngIf="nbtc">{{ (bitcoinBalance - nbtc - btcFees)  | number: "0.0-8" }}
              BTC</span>
          </div>
        </li>
      </ul>
      <!-- End Fact List -->

      <button type="button" class="btn btn-block btn-soft-primary transition-3d-hover mt-6" (click)="withdrawBitcoin()">
        Millifæra
      </button>
    </div>
  </div>
  <!-- End Stats -->
</div>

<div [hidden]="!show" class="p-5 rounded shadow" *ngIf="account">
  <div class="mb-3">
    <div class="row">
      <div class="col-6">
        <a class="text-secondary" routerLink="/dashboard/withdrawal" (click)="show = false">
          <span class="fa fa-arrow-left small text-primary mr-2"></span>
          Til baka
        </a>
      </div>
    </div>
  </div>
  <div class="align-items-center justify-content-between mb-3">
    <div class="text-center">
      <h4 class="text-primary">Millifærsla</h4>

      <ul class="list-unstyled mb-0">
        <li class="d-flex align-items-center text-center py-1">
          <small class="far fa-circle text-warning mr-2"></small>
          <span class="font-weight-medium mr-1">Færsla</span>
          <span class="text-secondary">{{ nbtc | number: '0.0-8' }} BTC</span>
        </li>

        <li class="d-flex align-items-center py-1">
          <small class="far fa-circle text-primary mr-2"></small>
          <span class="font-weight-medium mr-1">Þóknun</span>
          <span class="text-secondary">{{ btcFees | number: '0.0-8'}} BTC</span>
        </li>

        <li class="d-flex align-items-center py-1">
          <small class="far fa-circle text-indigo mr-2"></small>
          <span class="font-weight-medium mr-1">Móttakandi</span>
          <span class="text-secondary">{{ account.withdrawalAddress }}</span>
        </li>

        <li class="d-flex align-items-center py-1">
          <small class="far fa-circle text-success mr-2"></small>
          <span class="font-weight-medium mr-1">Staða eftir færslu</span>
          <span class="text-secondary">{{ (bitcoinBalance - nbtc - btcFees)  | number: "0.0-8" }} BTC</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-right">
    <button type="button" class="btn btn-soft-primary transition-3d-hover" (click)="withdrawBitcoinConfirm()">
      Staðfesta
    </button>
  </div>
</div>