<div class="container space-top-1 text-center">
  <div class="tab-wrapper space-top-1">
    <h2 class="text-primary">Leggja inn
      <span class="font-weight-bold">íslenskar Krónur</span>
    </h2>
    <p class="text-dark mb-0">Millifærðu hvaða upphæð sem þú vilt.</p>
    <p class="text-dark">Banka upplýsingar má sjá hér að neðan.</p>

    <div class="d-inline-block text-left">
      <div>
        <span class="btn btn-sm btn-icon btn-soft-info rounded-circle mr-2">
          <span class="fas fa-university btn-icon__inner"></span>
        </span>
        <span class="mr-2">Reikningsnúmer:</span>
        <span>0133-15-200640</span>
      </div>

      <div class="mt-1">
        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-2">
          <span class="fas fa-user btn-icon__inner"></span>
        </span>
        <span class="mr-2">Kennitala:</span>
        <span>470818-0420</span>
      </div>
    </div>

    <div class="alert2 alert-navy mt-5" role="alert">
      Millifærslan verður að koma frá bankareikning sem er skráður á kennitölu notanda.
    </div>
  </div>
</div>

<!-- <div class="col mb-9 mb-lg-0">
      <div class="pr-lg-4 mb-7">
        <h2 class="text-primary">Leggja inn
          <span class="font-weight-bold">Bitcoin</span>
        </h2>
        <p>Allar greiðslur eru sjálfvirkar og taka ekki lengur en 1 mínútu. Bitcoin Staðfestingar tími er um 10
          blocks.</p>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <ul class="list-unstyled mb-0">
            <li class="py-2">
              <div class="media">
                <div class="d-flex mr-3">
                  <span class="u-icon u-icon-info--air u-icon--sm rounded-circle">
                    <span class="fas fa-user u-icon__inner"></span>
                  </span>
                </div>
                <div class="media-body"></div>
              </div>
            </li>
            <li class="py-2">
              <div class="media">
                <div class="d-flex mr-3">
                  <span class="u-icon u-icon-primary--air u-icon--sm rounded-circle">
                    <span class="fas fa-wallet u-icon__inner"></span>
                  </span>
                </div>
                <div class="media-body"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> -->