.tab-wrapper {
    border: 1px solid #e7eaf3;
    box-shadow: 0 0 35px rgba(140, 152, 163, 0.125);
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.alert2 {
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}