<div class="container">
  <h1 class="">Um okkur</h1>
  <p class="text-dark">Ég (Sævar Gunnarsson) stofnaði Bitar ehf. 3. ágúst, 2018 sem 
      hálfgert áhugamál og með það markmið að gera íslendingum 
      auðvelt að kaupa og selja bitcoin á ódýran hátt.
  </p>
  <p class="text-dark mb-0">Vefsíðan og bakendinn er forritaður frá grunni af mér og er 
      kóðinn opinn öllum til að skoða 
      <a href="https://github.com/bitarehf" target="_blank">á GitHub</a>.
  </p>
  <p class="text-dark">Markmiðið er að vera fyrsti staðurinn á íslandi sem fólk dettur í hug þegar það hugsar um bitcoin.</p>
</div>