<div class="container space-top-3 space-top-lg-4 space-bottom-2">
  <div class="w-lg-80 text-center mx-lg-auto">
    <div class="mb-5 mb-md-11">
      <h1 class="display-4">Um okkur</h1>
      <p class="lead">Bitar ehf. rekur skiptimarkað á netinu þar sem viðskiptamenn geta stundað viðskipti milli
        bitcoin og íslensku krónunni.
        Við stefnum að því að gera þessi viðskipti einföld og hagkvæm fyrir alla íslendinga.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="w-lg-65 mx-lg-auto">
      <hr class="my-0">
    </div>
  </div>

  <div class="container space-2 space-lg-3">
    <div class="row justify-content-between">
      <div class="col-4 mb-5 mb-lg-0">
        <h2>Eigendur Bitar ehf.</h2>
      </div>
      <div class="col-6">
        <p>Ég (Sævar Gunnarsson) stofnaði Bitar ehf. 3. ágúst 2018 sem hálfgert áhugamál og með það markmið að gera
          íslendingum auðvelt að stunda viðskipti með bitcoin.</p>
        <p>Það er aðeins einn starfsmaður sem vinnur hjá Bitar ehf., Sævar Gunnarsson. Hann sér hann um
          alla daglega starfsemi og er hann framkvæmdastjóri og ábyrgðarmaður félagsins.
        </p>
        <p>Vefsíðan og bakendinn er forritaður frá grunni af mér og er
          kóðinn opinn öllum á
          <a href="https://github.com/bitarehf" target="_blank" rel="noreferrer">GitHub</a>.
        </p>
      </div>
    </div>
  </div>

</div>