<div class="row align-items-center">
  <div class="col">
    <div class="media align-items-center">
      <div class="d-flex mr-3">
        <span class="btn btn-icon btn-soft-warning rounded-circle">
          <span class="fab fa-bitcoin btn-icon__inner fa-2x mr-3"></span>
        </span>
      </div>
      <div class="media-body">
        <h3 class="h5 mb-0">1 Bitcoin</h3>
        <span class="d-block text-secondary">BTC</span>
      </div>
    </div>
  </div>

  <div class="col">
    <ul class="list-inline row justify-content-end text-secondary text-uppercase mb-0">
      <li class="list-inline-item col">
        <small class="d-block">Verð
          <small>({{ countdown | async | date: 's' }} sek)</small>
        </small>
        <a class="d-block text-success">{{stock.BTC | currency: 'ISK'}}</a>
      </li>
      <li class="list-inline-item col">
        <small class="d-block">Breyting <small>(24 klst)</small></small>
        <a class="d-block text-danger">-0.00%<span class="fa fa-angle-down ml-2"></span></a>
      </li>
    </ul>
  </div>
</div>
