<div class="row align-items-center">
  <div class="col">
    <div class="media align-items-center">
      <div class="d-flex mr-3">
        <span class="u-icon u-icon--lg u-icon-warning--air rounded-circle">
          <span class="fab fa-bitcoin u-icon__inner"></span>
        </span>
      </div>
      <div class="media-body">
        <h3 class="h5 mb-0">1 Bitcoin</h3>
        <span class="d-block text-secondary">BTC</span>
      </div>
    </div>
  </div>

  <div class="col">
    <ul class="list-inline row justify-content-end text-secondary text-uppercase mb-0">
      <li class="list-inline-item col u-ver-divider u-ver-divider--xs u-ver-divider--none-md">
        <small class="d-block">Verð <small>(1 min)</small></small>
        <a class="d-block text-success" href="#">
          {{ stock.BTC | number:'0.0-0' }} ISK
          <span class="fa fa-angle-up ml-2"></span>
        </a>
      </li>
      <li class="list-inline-item col">
        <small class="d-block">Breyting <small>(24 klst)</small></small>
        <a class="d-block text-danger" href="#">
          -1.02%
          <span class="fa fa-angle-down ml-2"></span>
        </a>
      </li>
    </ul>
  </div>
</div>