<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="container">

  <hr class="my-0">

  <div class="row u-space-2">
    <div class="col-md-4 mb-7 mb-md-0">
      <!-- Company -->
      <div class="media">
        <div class="d-flex mr-3">
          <span class="u-icon u-icon--lg rounded-circle">
              <img src="../../../assets/bitar.png" style="width: 56px;">
          </span>
        </div>
        <div class="media-body">
          <h4 class="u-list__link font-weight-normal font-size-20 mb-0">Bitar ehf.</h4>
          <span class="d-block font-size-14">210 Garðabær, Ásbúð 98</span>
          <span class="d-block font-size-14">Kt: 470818-0420</span>
        </div>
      </div>

      <!-- End Company -->
    </div>

    <div class="col-md-4 mb-7 mb-md-0">
      <!-- List -->
      <ul class="list-unstyled u-list u-list--light">
        <li><a class="u-list__link" href="#">Um Okkur</a></li>
        <li><a class="u-list__link" href="#">Gengi</a></li>
        <li><a class="u-list__link" href="#">Eitthvað sniðugt!</a></li>
      </ul>
      <!-- End List -->
    </div>

    <div class="col-md-4 mb-7 mb-md-0">
      <!-- List -->
      <ul class="list-unstyled u-list u-list--light">
        <li><a class="u-list__link" href="#">Hjálp</a></li>
        <li><a class="u-list__link" href="#">Persónuvernd</a></li>
        <li><a class="u-list__link" href="#">Skilmálar</a></li>
      </ul>
      <!-- End List -->
    </div>

  </div>
</footer>