<footer class="container">
  <div class="row space-2 align-items-center">
    <div class="col-3 mb-7 mb-lg-0">
      <h4 class="brand brand-primary ml-0 mb-0">Bitar</h4>
      <span class="small text-muted">kt. 470818-0420</span>
    </div>

    <div class="col-3 mb-7 mb-lg-0">
      <ul class="list-group list-group-flush list-group-borderless mb-0">
        <li><a class="list-group-item list-group-item-action" routerLink="">Um okkur</a></li>
        <li><a class="list-group-item list-group-item-action" routerLink="">Gengi</a></li>
        <li><a class="list-group-item list-group-item-action" routerLink="">Verðskrá</a></li>
        <li><a class="list-group-item list-group-item-action" routerLink="">Blogg</a></li>
      </ul>
    </div>

    <div class="col-3 mb-7 mb-lg-0">
      <ul class="list-group list-group-flush list-group-borderless mb-0">
        <li><a class="list-group-item list-group-item-action" routerLink="">Hjálp</a></li>
        <li><a class="list-group-item list-group-item-action" routerLink="/privacy">Persónuvernd</a></li>
        <li><a class="list-group-item list-group-item-action" routerLink="/terms">Skilmálar</a></li>
      </ul>
    </div>
  </div>
</footer>
