<footer class="bg-navy">
  <div class="container">
    <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
      <div class="row justify-content-lg-between">
        <div class="col-lg-3 ml-lg-auto mb-5 mb-lg-0">
          <!-- Logo -->
            <a routerLink="">
              <!-- <img class="brand" src="../../assets/svg/logos/logo-white.svg" alt="Logo"> -->
              <h5 class="text-white">Bitar ehf.</h5>
            </a>
          <!-- End Logo -->

          <!-- Nav Link -->
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item">
              <a class="nav-link media">
                <span class="media">
                  <span class="fas fa-location-arrow mt-1 mr-2"></span>
                  <span class="media-body">
                    Ásbúð 98, 210 Garðabær
                  </span>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link media">
                <span class="media">
                  <span class="fas fa-phone-alt mt-1 mr-2"></span>
                  <span class="media-body">
                    617-3807
                  </span>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link media">
                <span class="media">
                  <span class="fas fa-user-tie mt-1 mr-2"></span>
                  <span class="media-body">
                    Kt. 470818-0420
                  </span>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link media">
                <span class="media">
                  <span class="fas fa-envelope-open-text mt-1 mr-2"></span>
                  <span class="media-body">
                    bitar<span>@</span>bitar.is
                  </span>
                </span>
              </a>
            </li>
          </ul>
          <!-- End Nav Link -->
        </div>

        <div class="col-6 col-md-3 col-lg mb-5 mb-lg-0">
          <h5 class="text-white">Fyrirtækið</h5>

          <!-- Nav Link -->
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item"><a class="nav-link" routerLink="/about">Um okkur</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="">Laus störf <span
                  class="badge badge-primary ml-1">Lokað</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/bitarehf" target="_blank">Kerfin okkar</a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="">Viðskiptasambönd</a></li>
          </ul>
          <!-- End Nav Link -->
        </div>

        <div class="col-6 col-md-3 col-lg mb-5 mb-lg-0">
          <h5 class="text-white">Viðskipti</h5>

          <!-- Nav Link -->
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item"><a class="nav-link" routerLink="/exchange-rate">Gengi</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="">Verðskrá</a></li>
          </ul>
          <!-- End Nav Link -->
        </div>

        <div class="col-6 col-md-3 col-lg">
          <h5 class="text-white">Leiðbeiningar</h5>

          <!-- Nav Link -->
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item"><a class="nav-link" routerLink="">Leiðbeiningar</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="">Algengar spurningar</a></li>
            <li class="nav-item"><a class="nav-link" href="https://api.bitar.is" target="_blank">API Leiðbeiningar</a></li>
          </ul>
          <!-- End Nav Link -->
        </div>

        <div class="col-6 col-md-3 col-lg">
          <h5 class="text-white">Annað</h5>

          <!-- Nav Link -->
          <ul class="nav nav-sm nav-x-0 nav-white flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="media align-items-center">
                  <i class="fa fa-info-circle mr-2"></i>
                  <span class="media-body">Hjálp</span>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">
                <span class="media align-items-center">
                  <i class="fa fa-user-circle mr-2"></i>
                  <span class="media-body">Mitt svæði</span>
                </span>
              </a>
            </li>
          </ul>
          <!-- End Nav Link -->
        </div>
      </div>
    </div>

    <hr class="opacity-xs my-0">

    <div class="space-1">
      <div class="row align-items-md-center mb-7">
        <div class="col-md-6 mb-4 mb-md-0">
          <!-- Nav Link -->
          <ul class="nav nav-sm nav-white nav-x-sm align-items-center">
            <li class="nav-item">
              <a class="nav-link" routerLink="/privacy">Persónuvernd</a>
            </li>
            <li class="nav-item opacity mx-3">/</li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/terms">Skilmálar</a>
            </li>
            <li class="nav-item opacity mx-3">/</li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">Veftré</a>
            </li>
          </ul>
          <!-- End Nav Link -->
        </div>

        <div class="col-md-6 text-md-right">
          <ul class="list-inline mb-0">
            <!-- Social Networks -->
            <!-- <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                <i class="fab fa-google"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li> -->
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-light" href="https://github.com/bitarehf" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <!-- End Social Networks -->

          </ul>
        </div>
      </div>

      <!-- Copyright -->
      <div class="w-md-75 text-lg-center mx-lg-auto">
        <p class="text-white opacity-sm small">© Bitar ehf. 2020. Öll réttindi áskilin.</p>
        <p class="text-white opacity-sm small">Þegar þú heimsækir eða hefur samskipti við vefsíður okkar, þjónustur eða
          hugbúnað, þá megum við eða okkar viðurkenndir þjónustuaðilar nota vefkökur til að gera vefsíðuna
          hraðari og öruggari.</p>
      </div>
      <!-- End Copyright -->
    </div>
  </div>
</footer>