<form class="container space-2" *ngIf="account != null">
  <div class="row">
    <div class="col-6 mb-6">
      <div>
        <label class="form-label">
          Bitcoin lykill
        </label>
        <input type="text" class="form-control" name="WithdrawalAddress" [(ngModel)]="account.withdrawalAddress">
      </div>
    </div>
    <div class="col-6 mb-6">
      <div>
        <label class="form-label">
          Banka reikningur
        </label>
        <input type="text" class="form-control" name="BankAccountNumber" [(ngModel)]="account.bankAccountNumber"
          [textMask]="{mask: bankMask, guide: false}">
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-sm btn-primary transition-3d-hover mr-1" (click)="update()">Vista
    breytingar</button>
</form>