<div class="bg-primary">
  <div class="container u-space-1-top pb-3">
    <div class="row">
      <div class="col-lg-7 order-lg-1 mt-3">
        <!-- User Info -->
        <div class="media d-block d-sm-flex align-items-sm-center">
          <div class="media-body">
            <h1 class="h3 text-white font-weight-medium mb-1">
              Halló, {{ id }}
            </h1>
            <span class="d-block text-white">saevar@bitar.is</span>
          </div>
        </div>
        <!-- End User Info -->
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="navbar-collapse">
      <ul class="navbar-nav flex-nowrap">
        <li class="nav-item">
          <a class="nav-link m-1 menu-item" routerLink="/dashboard" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Yfirlit
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 menu-item" routerLink="transactions" routerLinkActive="active">Færslur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 menu-item" routerLink="settings">Stillingar</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>