<div class="bg-primary">
  <div class="pb-3 pl-4">
    <div class="media pt-3">
      <div class="media-body">
        <h1 class="h3 text-white font-weight-medium">
          Halló, {{ id }}
        </h1>
        <span class="text-white">saevar@bitar.is</span>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="navbar-collapse">
      <ul class="navbar-nav flex-nowrap">
        <li class="nav-item">
          <a class="nav-link m-1 menu-item" routerLink="/dashboard" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Yfirlit
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 menu-item" routerLink="transactions" routerLinkActive="active">Viðskiptasaga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 menu-item" routerLink="withdrawal" routerLinkActive="active">Taka út pening</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 menu-item" routerLink="deposit" routerLinkActive="active">Leggja inn pening</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 menu-item" routerLink="settings" routerLinkActive="active">Stillingar</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>