<div class="bg-primary">
  <div class="container u-space-1-top pb-3">
    <div class="row">
      <div class="col-lg-7 order-lg-1 mt-3">
        <!-- User Info -->
        <div class="media d-block d-sm-flex align-items-sm-center">
          <div class="media-body">
            <h1 class="h3 text-white font-weight-medium mb-1" *ngIf="account">
              Halló, {{ account.id }}
            </h1>
            <span class="d-block text-white">saevar@bitar.is</span>
          </div>
        </div>
        <!-- End User Info -->
      </div>
    </div>
  </div>

  <div class="container u-space-1-bottom u-space-bottom-0--lg">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
      <!-- Navbar -->
      <div class="u-header u-header--bg-transparent-lg z-index-4">
        <div class="u-header__section bg-transparent u-header--white-nav-links">
          <nav
            class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar hs-menu-initialized hs-menu-horizontal">
            <div id="breadcrumbNavBar" class="collapse navbar-collapse py-0">
              <ul class="navbar-nav w-100 u-header__navbar-nav">
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link pl-0">
                    Yfirlit
                  </a>
                </li>
                <!-- Others -->
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link">Stillingar</a>
                </li>
                <!-- Others -->
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- End Navbar -->

      <div class="ml-lg-auto">
        <!-- Button -->
        <a class="btn btn-sm btn-soft-white text-nowrap transition-3d-hover" routerLink="/dashboard"
          data-overlay-color="#111722">
          <span class="fa fa-plus small mr-2"></span>
          Leiðbeiningar
        </a>
        <!-- End Button -->
      </div>
    </div>
  </div>
</div>

<div class="u-bg-light">
  <div class="container space-1">
    <!-- Title -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="h6 mb-0">Stöðuyfirlit</h3>
    </div>
    <!-- End Title -->

    <!-- Balances -->
    <div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-6">
      <!-- Card -->
      <div class="card mb-3 mb-lg-0 bg-white rounded shadow-sm">
        <div class="card-body p-5">
          <div class="media align-items-center">
            <span class="btn btn-lg btn-icon btn-soft-primary rounded-circle mr-4">
              <span class="fa fa-coins btn-icon__inner"></span>
            </span>
            <div class="media-body" *ngIf="account">
              <span class="d-block font-size-3">{{ account.balance }}</span>
              <h2 class="h6 text-secondary font-weight-normal mb-0">
                Staða í ISK
              </h2>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="card mb-3 mb-lg-0 rounded shadow-sm">
        <div class="card-body p-5">
          <div class="media">
            <span class="btn btn-lg btn-icon btn-soft-warning rounded-circle mr-4">
              <span class="fas fa-wallet btn-icon__inner"></span>
            </span>
            <div class="media-body">
              <span class="d-block font-size-3"
                *ngIf="bitcoinBalance >= 0">{{ bitcoinBalance | number: "0.8-8" }}</span>
              <h3 class="h6 text-secondary font-weight-normal mb-0">
                Bitcoin Staða
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="card mb-3 mb-lg-0 rounded shadow-sm">
        <div class="card-body p-5">
          <div class="media">
            <span class="btn btn-lg btn-icon btn-soft-success rounded-circle mr-4">
              <span class="fas fa-exchange-alt btn-icon__inner"></span>
            </span>
            <div class="media-body">
              <span class="d-block font-size-3" *ngIf="bitcoinBalance >= 0">
                {{ stock.BTC * bitcoinBalance | number: "0.0-0" }}
              </span>
              <h3 class="h6 text-secondary font-weight-normal mb-0">
                Bitcoin staða í ISK
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Balances -->

    <!-- Title -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="h6 mb-0">Kaupa Bitcoin</h3>
    </div>
    <!-- End Title -->

    <div [hidden]="show" class="bg-white p-6 rounded shadow-sm">
      <div class="row">
        <div class="col">
          <label class="h6 mb-3">Veldu magn í ISK</label>
          <input class="form-control" [(ngModel)]="isk" (ngModelChange)="iskUpdate()"
            [textMask]="{ mask: iskMask, guide: false }" placeholder="0" />
        </div>
        <div
          style="z-index: 1000; position: absolute; left: 50%; right: 50%; margin-top: 55px; margin-left: -10px; width: 20px; text-align: center;">
          <span class="fas fa-exchange-alt text-primary"></span>
        </div>

        <div class="col">
          <label class="h6 mb-3">Veldu magn í BTC</label>
          <input class="form-control" [(ngModel)]="btc" (ngModelChange)="btcUpdate()"
            [textMask]="{ mask: btcMask, guide: false }" placeholder="0,00000000" />
        </div>
      </div>

      <div class="media align-items-center mt-6 pb-3">
        <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
          <span class="fas fa-info btn-icon__inner"></span>
        </span>
        <p class="text-dark mb-0">Magnið verður að vera 5000 ISK eða meira.</p>
      </div>

      <button type="button" class="btn btn-block btn-soft-primary transition-3d-hover mt-5" (click)="order()">
        Kaupa
      </button>
    </div>

    <div [hidden]="!show" class="bg-white p-6 rounded shadow-sm">
      <div class="mb-9">
        <div class="row">
          <div class="col-6">
            <a class="text-secondary" routerLink="/dashboard" (click)="show = false">
              <span class="fa fa-arrow-left small text-primary mr-2"></span>
              Til baka
            </a>
          </div>
          <div class="col-6 text-right">
              <div>
                <p>
                  {{ countdown | async | date: 's' }} sekúndur
                    <a class="btn btn-icon btn-sm btn-soft-primary rounded-circle ml-2" href="javascript:;">
                      <i class="fas fa-info btn-icon__inner"></i>
                    </a>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <div class="align-items-center justify-content-between mb-3">
        <div class="text-center">
          <h4 class="text-primary">Þú ert að kaupa</h4>
          <h1>{{ btc }} BTC</h1>
          <h3 class="text-secondary">Fyrir {{ isk }} ISK</h3>
        </div>
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-soft-primary transition-3d-hover">
          Staðfesta
        </button>
      </div>
    </div>

    <!-- <div class="container">
      <span class="u-label u-label--sm u-label--success mb-2">Vel gert!</span>
      <div class="row">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="pr-lg-4 mb-7">
            <h2 class="text-primary">Aðeins eitt skref
              <span class="font-weight-bold">eftir</span>
            </h2>
            <p>Millifærðu á Bitar ehf. hvaða upphæð sem þú vilt
              og við sendum þér viðeigandi magn í bitcoin.
              Banka upplýsingar má sjá hér að neðan.</p>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                      <span class="u-icon u-icon-success--air u-icon--sm rounded-circle">
                        <span class="fas fa-university u-icon__inner"></span>
                      </span>
                    </div>
                    <div class="media-body">0133-26-014528</div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                      <span class="u-icon u-icon-info--air u-icon--sm rounded-circle">
                        <span class="fas fa-user u-icon__inner"></span>
                      </span>
                    </div>
                    <div class="media-body">470818-0420</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col mb-9 mb-lg-0">
          <div class="pr-lg-4 mb-7">
            <h2 class="text-primary">Fleiri
              <span class="font-weight-bold">Upplýsingar</span>
            </h2>
            <p>Allar greiðslur eru sjálfvirkar og taka ekki lengur en 1 mínútu. Bitcoin Staðfestingar tími er um 10
              blocks.</p>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                      <span class="u-icon u-icon-info--air u-icon--sm rounded-circle">
                        <span class="fas fa-user u-icon__inner"></span>
                      </span>
                    </div>
                    <div class="media-body"></div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="media">
                    <div class="d-flex mr-3">
                      <span class="u-icon u-icon-primary--air u-icon--sm rounded-circle">
                        <span class="fas fa-wallet u-icon__inner"></span>
                      </span>
                    </div>
                    <div class="media-body"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="bg-white p-4 rounded shadow-sm mb-3 mt-3">
      <app-rates></app-rates>
    </div>
  </div>
</div>
