<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <a class="navbar-brand text-primary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Bitar</a>
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse flex-grow-1 text-right" [hidden]="collapse">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <!-- <li class="nav-item">
        <a class="nav-link m-2 menu-item" routerLink="/terms" routerLinkActive="active">Terms</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link m-2 menu-item" routerLink="/login" routerLinkActive="active"
          *ngIf="!isAuthenticated()">Innskráning</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link m-2 menu-item" routerLink="/dashboard" routerLinkActive="active">Mitt svæði</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link m-2 menu-item" routerLink="/" (click)="logout()">Útskrá</a>
      </li>
    </ul>
  </div>
</nav>