<div class="container overflow-hidden mt-2">
  <div class="w-lg-80 mx-auto">
    <div class="card shadow-sm">
      <!-- Hero -->
      <div
        class="card-header position-relative gradient-half-primary-v1 space-top-2 space-bottom-3 rounded-top-pseudo px-7 px-md-9">
        <h1 class="text-white font-weight-semi-bold">Persónuvernd</h1>
        <p class="text-white-70">Síðast breytt: 4 nóvember, 2019</p>

        <!-- SVG Bottom Shape -->
        <figure class="position-absolute right-0 bottom-0 left-0">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none"
            x="0px" y="0px" width="100%" height="140px" viewBox="0 0 300 100"
            style="margin-bottom: -8px; enable-background:new 0 0 300 100;" xml:space="preserve">
            <style type="text/css">
              .wave-bottom-1-sm-0 {
                fill: #FFFFFF;
              }
            </style>
            <g>
              <defs>
                <rect id="waveBottom1SMID1" width="300" height="100"></rect>
              </defs>
              <clipPath id="waveBottom1SMID2">
                <use xlink:href="#waveBottom1SMID1" style="overflow:visible;"></use>
              </clipPath>
              <path class="wave-bottom-1-sm-0 fill-white" opacity=".4" clip-path="url(#waveBottom1SMID2)"
                d="M10.9,63.9c0,0,42.9-34.5,87.5-14.2c77.3,35.1,113.3-2,146.6-4.7C293.7,41,315,61.2,315,61.2v54.4H10.9V63.9z">
              </path>
              <path class="wave-bottom-1-sm-0 fill-white" opacity=".4" clip-path="url(#waveBottom1SMID2)"
                d="M-55.7,64.6c0,0,42.9-34.5,87.5-14.2c77.3,35.1,113.3-2,146.6-4.7c48.7-4.1,69.9,16.2,69.9,16.2v54.4H-55.7     V64.6z">
              </path>
              <path class="wave-bottom-1-sm-0 fill-white" opacity=".4" fill-opacity="0"
                clip-path="url(#waveBottom1SMID2)"
                d="M23.4,118.3c0,0,48.3-68.9,109.1-68.9c65.9,0,98,67.9,98,67.9v3.7H22.4L23.4,118.3z"></path>
              <path class="wave-bottom-1-sm-0 fill-white" clip-path="url(#waveBottom1SMID2)"
                d="M-54.7,83c0,0,56-45.7,120.3-27.8c81.8,22.7,111.4,6.2,146.6-4.7c53.1-16.4,104,36.9,104,36.9l1.3,36.7l-372-3     L-54.7,83z">
              </path>
            </g>
          </svg>
        </figure>
        <!-- End SVG Bottom Shape Section -->
      </div>
      <!-- End Hero -->

      <!-- Content -->
      <div class="card-body p-7 p-md-9">
        <div class="mb-7">
          <!-- Title -->
          <div class="mb-3">
            <h3 class="h5 text-primary font-weight-semi-bold">Persónu upplýsingar</h3>
          </div>
          <!-- End Title -->

          <!-- Text -->
          <p>Við deilum ekki persónulegum upplýsingum opinberlega eða með þriðja aðila, nema þess er krafist samkvæmt
            íslenskum lögum.</p>
          <p>Við biðjum aðeins um persónulegar upplýsingar þegar við þurfum þess til að veita þér þjónustu. Við söfnum
            því með sanngjörnum og lögmætum hætti með þekkingu þinni og samþykki. Við látum þig einnig vita af hverju
            við erum að safna þeim og hvernig upplýsingarnar verða notaðar.
          </p>
          <p>Við reynum okkar besta til að koma í veg fyrir tap og þjófnað en ef svo kemur til látum við alla viðkomandi
            aðila vita af því eins fljótt og hægt er.
          </p>
          <!-- End Text -->
        </div>

        <div class="mb-7">
          <!-- Title -->
          <div class="mb-3">
            <h3 class="h5 text-primary font-weight-semi-bold">Annað</h3>
          </div>
          <!-- End Title -->

          <!-- Text -->
          <p>Ef þú hefur einhverjar spurningar um hvernig við höndlum notendagögn skaltu ekki hika við að hafa samband
            við okkur.
          </p>
          <!-- End Text -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </div>
</div>