<main class="bg-light">
  <!-- Privacy Section -->
  <div class="container space-top-3 space-top-lg-4 space-bottom-2 space-bottom-lg-3 overflow-hidden">
    <div class="w-lg-80 mx-lg-auto">
      <div class="card">
        <!-- Hero -->
        <div class="card-header position-relative bg-primary space-1 space-md-2 p-4 px-md-7 px-md-9">
          <h1 class="text-white">Persónuvernd</h1>
          <p class="text-white-70">Síðast breytt: 3. mars 2020</p>

          <!-- SVG Bottom Shape -->
          <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1"
              width="100%" height="32">
              <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
            </svg>
          </figure>
          <!-- End SVG Bottom Shape Section -->
        </div>
        <!-- End Hero -->

        <!-- Content -->
        <div class="card-body p-4 p-md-9">
          <div class="mb-7">
            <!-- Title -->
            <div class="mb-3">
              <h2 class="h3">Persónuupplýsingar</h2>
            </div>
            <!-- End Title -->

            <!-- Text -->
            <p>Við deilum ekki persónulegum upplýsingum opinberlega eða með þriðja aðila nema þess er krafist samkvæmt
              íslenskum lögum.</p>
            <p>Við biðjum aðeins um persónulegar upplýsingar þegar við þurfum þess til að veita þér þjónustu. Við söfnum
              persónulegum upplýsingum með sanngjörnum og lögmætum hætti með þekkingu þinni og samþykki.
            </p>

            <p>Við viljum ekki geyma upplýsingar :(</p>

            <!-- End Text -->
          </div>

          <div class="mb-7">
            <!-- Title -->
            <div class="mb-3">
              <h3>Annað</h3>
            </div>
            <!-- End Title -->

            <!-- Text -->
            <p>Ef þú hefur einhverjar spurningar skaltu ekki hika við að hafa samband við okkur.</p>
            <!-- End Text -->
          </div>

        </div>
        <!-- End Content -->
      </div>
    </div>
  </div>
  <!-- End Privacy Section -->
</main>