<!-- Privacy Section -->
<div class="container u-space-2-top u-space-1-bottom">
  <div class="bg-white border w-lg-80 shadow-sm rounded mx-auto">
    <!-- Hero -->
    <div class="position-relative u-gradient-half-primary-v1 u-space-2-top u-space-3-bottom rounded-top-pseudo px-7 px-md-9">
      <h1 class="text-white font-weight-bold">Persónuvernd</h1>
      <p class="u-text-light">Síðast breytt: 4 nóvember, 2018</p>

      <!-- SVG Background Shapes -->
      <figure class="w-100 u-content-centered z-index-minus-1">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
          y="0px" viewBox="0 0 1506.3 578.7" style="enable-background:new 0 0 1506.3 578.7;" xml:space="preserve">
          <path class="u-fill-warning" d="M45,91.6L45,91.6c-1.2-1.2-1.2-3.1,0-4.3l9.1-9.1c1.2-1.2,3.1-1.2,4.3,0h0c1.2,1.2,1.2,3.1,0,4.3l-9.1,9.1
                C48.2,92.8,46.2,92.8,45,91.6z"></path>
          <path class="u-fill-warning" d="M58.4,91.6L58.4,91.6c-1.2,1.2-3.1,1.2-4.3,0L45,82.5c-1.2-1.2-1.2-3.1,0-4.3h0c1.2-1.2,3.1-1.2,4.3,0l9.1,9.1
                C59.6,88.5,59.6,90.4,58.4,91.6z"></path>
          <path class="u-fill-info" d="M1041.3,403.1l5.1,19.1c0.7,2.6,4,3.5,5.9,1.6l14-14c1.9-1.9,1-5.2-1.6-5.9l-19.1-5.1
                C1043,398,1040.5,400.4,1041.3,403.1z"></path>
          <path class="u-fill-success" d="M380.6,577.8l-12.2-12.2c-1.2-1.2-1.2-3.1,0-4.3l12.2-12.2c1.2-1.2,3.1-1.2,4.3,0l12.2,12.2
                c1.2,1.2,1.2,3.1,0,4.3l-12.2,12.2C383.8,579,381.8,579,380.6,577.8z"></path>
          <circle class="u-fill-success" cx="1494.3" cy="353.5" r="12"></circle>
          <path class="u-fill-danger" d="M992,21.5h-15.9c-1.5,0-2.8-1.3-2.8-2.8V2.8c0-1.5,1.3-2.8,2.8-2.8H992c1.5,0,2.8,1.3,2.8,2.8v15.9
                C994.8,20.2,993.5,21.5,992,21.5z"></path>
          <path class="u-fill-primary" d="M19.3,310.2l-17,4.6c-2.3,0.6-3.1,3.6-1.4,5.3l12.4,12.4c1.7,1.7,4.7,0.9,5.3-1.4l4.6-17
                C23.8,311.7,21.7,309.6,19.3,310.2z"></path>
          <circle class="u-fill-none u-stroke-white" stroke-width="3" stroke-miterlimit="10" cx="1236.8" cy="120" r="8.5"></circle>
        </svg>
      </figure>
      <!-- End SVG Background Shapes -->

      <!-- SVG Bottom Shape -->
      <figure class="position-absolute-bottom-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="100%" height="140px" viewBox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
          <path class="u-fill-white" opacity="0.4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
          <path class="u-fill-white" opacity="0.4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
          <path class="u-fill-white" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z"></path>
          <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
        </svg>
      </figure>
      <!-- End SVG Bottom Shape Section -->
    </div>
    <!-- End Hero -->

    <!-- Content -->
    <div class="p-7 p-md-9">
      <div class="mb-7">
        <!-- Title -->
        <div class="mb-3">
          <h3 class="h5 text-primary font-weight-bold">Persónu upplýsingar</h3>
        </div>
        <!-- End Title -->

        <!-- Text -->
        <p>
          Við deilum ekki persónulegum upplýsingum opinberlega eða með þriðja aðila,
          nema þess er krafist samkvæmt lögum.
        </p>
        <p>Við biðjum aðeins um persónulegar upplýsingar þegar við þurfum þess til að veita þér þjónustu.
          Við söfnum því með sanngjörnum og lögmætum hætti með þekkingu þinni og samþykki. Við látum þig einnig vita
          af hverju við erum að safna þeim og hvernig upplýsingarnar verða notaðar.
        </p>
        <p>Við reynum okkar besta til að koma í veg fyrir tap og þjófnað en ef svo kemur til látum við
          alla viðkomandi aðila vita af því eins fljótt og hægt er.
        </p>
        <!-- End Text -->
      </div>
      <div class="mb-7">
        <!-- Title -->
        <div class="mb-3">
          <h3 class="h5 text-primary font-weight-bold">Annað</h3>
        </div>
        <!-- End Title -->

        <!-- Text -->
        <p>Þín áframhaldandi notkun á þjónustum okkar verður talinn sem viðurkenning á starfsvenjum okkar um persónuvernd.</p>
        <p>Ef þú hefur einhverjar spurningar um hvernig við höndlum notendagögn skaltu ekki hika við að hafa samband við okkur.</p>
        <!-- End Text -->
      </div>

    </div>
    <!-- End Content -->
  </div>
</div>
<!-- End Privacy Section -->

<!-- SVG Background Shapes - Left Side -->
<figure class="w-25 u-content-centered-y left-0 z-index-minus-1 mt-9">
  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 260 260" style="enable-background:new 0 0 260 260;" xml:space="preserve">
    <circle class="u-fill-light-blue-50" cx="130" cy="130" r="130"></circle>
  </svg>
</figure>
<!-- End SVG Background Shapes - Left Side -->

<!-- SVG Background Shapes - Right Side -->
<figure class="w-35 u-content-centered-y right-0 z-index-minus-1 mt-offset-9">
  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 130.5 208.9" style="enable-background:new 0 0 130.5 208.9;" xml:space="preserve">
    <path class="u-fill-light-blue-50" d="M130.5,27.4L107.7,7.7C94.4-3.7,74.4-2.3,63,11L7.7,75.1c-11.4,13.2-10,33.2,3.3,44.7l94.4,81.4c7.2,6.2,16.4,8.6,25.2,7.4V27.4z"></path>
  </svg>
</figure>
<!-- End SVG Background Shapes - Right Side -->

<!-- SVG Background Shapes -->
<figure class="position-absolute-bottom-0 z-index-minus-1">
  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 1506.3 578.7" style="enable-background:new 0 0 1506.3 578.7;" xml:space="preserve">
    <path class="u-fill-warning" d="M45,91.6L45,91.6c-1.2-1.2-1.2-3.1,0-4.3l9.1-9.1c1.2-1.2,3.1-1.2,4.3,0h0c1.2,1.2,1.2,3.1,0,4.3l-9.1,9.1
          C48.2,92.8,46.2,92.8,45,91.6z"></path>
    <path class="u-fill-warning" d="M58.4,91.6L58.4,91.6c-1.2,1.2-3.1,1.2-4.3,0L45,82.5c-1.2-1.2-1.2-3.1,0-4.3h0c1.2-1.2,3.1-1.2,4.3,0l9.1,9.1
          C59.6,88.5,59.6,90.4,58.4,91.6z"></path>
    <path class="u-fill-info" d="M1041.3,403.1l5.1,19.1c0.7,2.6,4,3.5,5.9,1.6l14-14c1.9-1.9,1-5.2-1.6-5.9l-19.1-5.1
          C1043,398,1040.5,400.4,1041.3,403.1z"></path>
    <path class="u-fill-success" d="M380.6,577.8l-12.2-12.2c-1.2-1.2-1.2-3.1,0-4.3l12.2-12.2c1.2-1.2,3.1-1.2,4.3,0l12.2,12.2
          c1.2,1.2,1.2,3.1,0,4.3l-12.2,12.2C383.8,579,381.8,579,380.6,577.8z"></path>
    <circle class="u-fill-success" cx="1494.3" cy="353.5" r="12"></circle>
    <path class="u-fill-danger" d="M992,21.5h-15.9c-1.5,0-2.8-1.3-2.8-2.8V2.8c0-1.5,1.3-2.8,2.8-2.8H992c1.5,0,2.8,1.3,2.8,2.8v15.9
          C994.8,20.2,993.5,21.5,992,21.5z"></path>
    <path class="u-fill-primary" d="M19.3,310.2l-17,4.6c-2.3,0.6-3.1,3.6-1.4,5.3l12.4,12.4c1.7,1.7,4.7,0.9,5.3-1.4l4.6-17
          C23.8,311.7,21.7,309.6,19.3,310.2z"></path>
    <circle class="u-fill-none u-stroke-white" stroke-width="3" stroke-miterlimit="10" cx="1236.8" cy="120" r="8.5"></circle>
  </svg>
</figure>
<!-- End SVG Background Shapes -->