.ngx-datatable.bootstrap {
  box-shadow: none;
  font-size: 16px;
  color: #677788;
  .datatable-header {
    height: 44px !important;
    color: #677788;
    background-color: #f8fafd;
    border-color: #e7eaf3;
    font-size: 12px;
    font-weight: 600;
    border-top: 1px solid rgb(231, 234, 243);
    border-bottom: 1px solid rgb(231, 234, 243);
    .datatable-header-cell {
      vertical-align: bottom;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      .datatable-header-cell-label {
        //line-height: 24px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }
  .datatable-body {
    .datatable-body-row {
      vertical-align: top;
      //border-top: 1px solid #eeeef1;
      &.datatable-row-even {
        background-color: #f8fafd;
      }
      &.active {
        background-color: #1483ff;
        color: #fff;
      }
      .datatable-body-cell {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        text-align: left;
        vertical-align: top;
      }
    }
    .empty-row {
      $alert-padding-y: 0.75rem !default;
      $alert-padding-x: 1.25rem !default;
      position: relative;
      padding: $alert-padding-y $alert-padding-x;
      margin-bottom: 0;
    }
  }
  .datatable-row-detail {
    // margin-bottom: 1rem;
    // margin-top: 1rem;
  }
  .datatable-scroller {
    width: 100% !important;
  }
  .datatable-scroll {
    width: 100% !important;
  }

  .datatable-footer {
    background: #fff;
    color: #ff0000;
    margin-top: -1px;
    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }
    .datatable-pager {
      margin: 0 10px;
      vertical-align: top;
      text-align: start;
      ul {
        li {
          margin: 10px 0px;
          &:not(.disabled) {
            &.active {
              a {
                color: #fff;
                background-color: #377dff;
              }
            }
            &:hover {
              a {
                background-color: rgba(55, 125, 255, 0.1);
              }
            }
          }
        }
      }
      a {
        height: 36px;
        min-width: 36px;
        line-height: 36px;
        padding: 0;
        border-radius: 0.3125rem;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #677788;
      }
    }
  }

  // .datatable-footer {
  //   font-size: 16px;
  //   font-weight: 400;

  //   .page-count {
  //     line-height: 50px;
  //     height: 50px;
  //     padding: 0.5rem 0.75rem;
  //   }

  //   .datatable-pager {
  //     //margin: 0 10px;
  //     text-align: start;
  //     //.pager {}

  //     li {
  //       vertical-align: middle;

  //       &.disabled a {
  //         color: $datatable-pager-disabled-color !important;
  //         background-color: $datatable-pager-disabled-background !important;
  //       }

  //       &.active a {
  //         color: #fff;
  //         background-color: #377dff;
  //       }
  //     }

  //     a {
  //       box-sizing: border-box;
  //       height: 36px;
  //       width: 36px;
  //       min-width: 36px;
  //       line-height: 20px;
  //       padding: 8px 12px 12px 8px;
  //       border-radius: 5px;
  //       margin: 6px 3px;
  //       text-align: center;
  //       //vertical-align: top;
  //       color: $datatable-pager-color;
  //       text-decoration: none;
  //       vertical-align: bottom;

  //       &:hover {
  //         background-color: rgba(55, 125, 255, 0.1);
  //       }
  //     }
  //   }
  // }

  // Summary row styles
  .datatable-summary-row {
    .datatable-body-row {
      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }
}
