<form name="buyForm" (ngSubmit)="buySubmit()" [hidden]="hidden">
  <h2>Við opnum 4. Nóvember! 😲</h2>
  <p>Notaðu <strong>kennitöluna</strong> sem <strong>bankareikningurinn</strong> er skráður á.</p>
  <div class="s-input" [ngClass]="{'success': ssnValid}">
    <input name="ssn" type="text" placeholder="Kennitala" [(ngModel)]="person.ssn" (ngModelChange)="validateSSN()"
      [textMask]="{mask: ssnMask, guide: false}">
    <svg viewBox="0 0 16 16">
      <path d="M10.8000002,10.8000002 C9.85000038,11.6500006 9.18349609,12 8,12 C5.80000019,12 4,10.1999998 4,8 C4,5.80000019 5.80000019,4 8,4 C10.1999998,4 12,6 12,8 C12,9.35332031 12.75,9.5 13.5,9.5 C14.25,9.5 15,8.60000038 15,8 C15,4 12,1 8,1 C4,1 1,4 1,8 C1,12 4,15 8,15 C12,15 15,12 15,8"></path>
      <polyline points="5 8.375 7.59090909 11 14.5 4" transform='translate(0 -0.5)'></polyline>
    </svg>
  </div>
  <p>Vertu viss um að þú <strong>notar rétt</strong> Bitcoin Address. Það er <strong>ekki hægt að afturkalla</strong> bitcoin millifærslur.
  </p>
  <div class="s-input" [ngClass]="{'success': addressValid}">
    <input name="bitcoinAddress" type="text" placeholder="Bitcoin Address" spellcheck="false" [(ngModel)]="person.bitcoinAddress"
      (ngModelChange)="validateAddress()">
    <svg viewBox="0 0 16 16">
      <path d="M10.8000002,10.8000002 C9.85000038,11.6500006 9.18349609,12 8,12 C5.80000019,12 4,10.1999998 4,8 C4,5.80000019 5.80000019,4 8,4 C10.1999998,4 12,6 12,8 C12,9.35332031 12.75,9.5 13.5,9.5 C14.25,9.5 15,8.60000038 15,8 C15,4 12,1 8,1 C4,1 1,4 1,8 C1,12 4,15 8,15 C12,15 15,12 15,8"></path>
      <polyline points="5 8.375 7.59090909 11 14.5 4" transform='translate(0 -0.5)'></polyline>
    </svg>
  </div>
  <br>
  <br>
  <button nbButton status="info" size="large">Greiða</button>
</form>

<div [hidden]="!hidden">
  <h2>Vel gert!</h2>
  <p>Address: {{person.bitcoinAddress}}</p>
  <p>Kennitala: {{person.ssn}}</p>
  <br>
  <p>Millifærðu hvaða upphæð sem er og við sendum þér viðeigandi magn í bitcoin.</p>
  <p>Reikningur: 0133-26-014528 kennitala: 470818-0420</p>
</div>