<div class="u-bg-light">
  <div class="container space-1">

    <blockquote class="callout callout-danger">
      <p class="callout-title">Viðskipti lokuð tímabundið</p>
      <p class="text-dark">Vegna uppfærslu verður <strong>lokað</strong> fyrir viðskipti fram að 27. mars</p>
      <p class="text-dark mb-0">Það verður <strong>ekki lokað</strong> fyrir úttektir.</p>
      <p class="text-dark mb-0">Afsakið óþægindi sem þetta kann að valda og takk fyrir að taka þátt í beta!</p>
    </blockquote>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="h6 mb-0">Stöðuyfirlit</h3>
    </div>

    <div class="row mb-6">
      <div class="col-lg-6 col-xl-4">
        <div class="card mb-3 mb-lg-0 rounded shadow-sm">
          <div class="media p-4">
            <span class="btn btn-lg btn-icon btn-soft-primary rounded-circle mr-4">
              <span class="fa fa-coins btn-icon__inner"></span>
            </span>
            <div class="media-body" *ngIf="account">
              <p class="text-dark font-size-3 mb-0">{{ account.balance | number }}</p>
              <h6 class="text-secondary font-weight-normal mb-0">
                ISK Staða
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div class="card mb-3 mb-xl-0 rounded shadow-sm">
          <div class="media p-4">
            <span class="btn btn-lg btn-icon btn-soft-warning rounded-circle mr-4">
              <span class="fas fa-wallet btn-icon__inner"></span>
            </span>
            <div class="media-body">
              <p class="text-dark font-size-3 mb-0" *ngIf="bitcoinBalance >= 0">
                {{ bitcoinBalance | number: "0.8-8" }}
              </p>
              <h6 class="text-secondary font-weight-normal mb-0">
                Bitcoin staða
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-xl-4">
        <div class="card mb-3 mb-lg-0 rounded shadow-sm">
          <div class="media p-4">
            <span class="btn btn-lg btn-icon btn-soft-success rounded-circle mr-4">
              <span class="fas fa-exchange-alt btn-icon__inner"></span>
            </span>
            <div class="media-body">
              <p class="text-dark font-size-3 mb-0" *ngIf="bitcoinBalance >= 0">
                {{ stock.BTC * bitcoinBalance | number: "0.0-0" }}</p>
              <h6 class="text-secondary font-weight-normal mb-0">
                Bitcoin staða í ISK
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Title -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="h6 mb-0">Kaupa Bitcoin</h3>
    </div>
    <!-- End Title -->

    <div [hidden]="show" class="bg-white p-6 rounded shadow-sm">
      <div class="row">
        <div class="col">
          <label class="h6 mb-3">Veldu upphæð í ISK</label>
          <input class="form-control" [(ngModel)]="sisk" (ngModelChange)="iskUpdate()"
            [textMask]="{ mask: iskMask, guide: false }" placeholder="0" />
        </div>
        <div
          style="z-index: 1000; position: absolute; left: 50%; right: 50%; margin-top: 55px; margin-left: -10px; width: 20px; text-align: center;">
          <span class="fas fa-exchange-alt text-primary"></span>
        </div>

        <div class="col">
          <label class="h6 mb-3">Veldu upphæð í BTC</label>
          <input class="form-control" [(ngModel)]="sbtc" (ngModelChange)="btcUpdate()"
            [textMask]="{ mask: btcMask, guide: false }" placeholder="0,00000000" />
        </div>
      </div>

      <div class="media align-items-center mt-6 pb-3">
        <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
          <span class="fas fa-info btn-icon__inner"></span>
        </span>
        <p class="text-dark mb-0">Upphæðin verður að vera 5000 ISK eða meira.</p>
      </div>

      <button type="button" class="btn btn-block btn-soft-primary transition-3d-hover mt-5 disabled">
        Viðskipti lokuð tímabundið
      </button>
      <!-- <button type="button" class="btn btn-block btn-soft-primary transition-3d-hover mt-5" (click)="order()">
        Kaupa
      </button> -->
    </div>

    <div [hidden]="!show" class="bg-white p-6 rounded shadow-sm" *ngIf="account">
      <div class="mb-9">
        <div class="row">
          <div class="col-6">
            <a class="text-secondary" routerLink="/dashboard" (click)="show = false">
              <span class="fa fa-arrow-left small text-primary mr-2"></span>
              Til baka
            </a>
          </div>
          <div class="col-6 text-right">
            <div>
              <p>
                {{ countdown | async | date: 's' }} sekúndur
                <a class="btn btn-icon btn-sm btn-soft-primary rounded-circle ml-2" href="javascript:;">
                  <i class="fas fa-info btn-icon__inner"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="align-items-center justify-content-between mb-3">
        <div class="text-center">
          <h4 class="text-primary">Þú ert að kaupa</h4>
          <h1>{{ ((nisk - (account.fee / 100 * nisk))  / this.stock.BTC) | number: '0.8-8' }} BTC</h1>
          <h3 class="text-secondary">Fyrir {{ nisk | currency: 'ISK' }}</h3>
        </div>
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-soft-primary transition-3d-hover" (click)="orderConfirm()">
          Staðfesta
        </button>
      </div>
    </div>

    <div class="bg-white p-4 rounded shadow-sm mb-3 mt-3">
      <app-rates></app-rates>
    </div>
  </div>
</div>