.callout {
  border-left-width: 10px;
  border-left-style: solid;
  padding: 1.5rem;
  margin-bottom: 1.25rem;
}

.callout-warning {
  border-color: rgba(255, 193, 7, .25);
  background-color: rgba(255, 193, 7, .075);
}

.callout-danger {
  border-color: rgba(222, 68, 55, 0.25);
  background-color: rgba(222, 68, 55, 0.075);
}

.callout-success {
  border-color: rgba(0, 201, 167, 0.25);
  background-color: rgba(0, 201, 167, 0.075);
}

.callout-title {
  color: initial;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
