$border: #D1D7E3;
$success: #69DD95;
$textColor: #797C86;
$placeholderColor: #C7C8CC;
$inputBorder: 0;
$inputShadow: 0 4px 12px -2px rgba(#6B75A1, .16);

.s-input {
    position: relative;
    width: 100%;
    input {
        outline: none;
        width: 100%;
        font-size: 16px;
        border: $inputBorder;
        border-radius: 4px;
        line-height: 40px;
        padding: 8px 36px 8px 14px;
        box-shadow: $inputShadow;
        color: $textColor;
        &::-webkit-input-placeholder {
            color: $placeholderColor;
        }
        &:-moz-placeholder {
            color: $placeholderColor;
        }
        &::-moz-placeholder {
            color: $placeholderColor;
        }
        &:-ms-input-placeholder {
            color: $placeholderColor;
        }
    }
    svg {
        position: absolute;
        z-index: 1;
        right: 14px;
        top: 50%;
        width: 20px;
        height: 20px;
        fill: none;
        margin: -10px 0 0 0;
        polyline,
        path {
            stroke: $border;
            stroke-width: 1.4;
            stroke-linecap: round;
            stroke-linejoin: round;
            transition: stroke .3s ease 0s;
        }
        path {
            stroke-dasharray: 64;
            stroke-dashoffset: 127;
            transition: stroke-dasharray .8s ease .8s, stroke-dashoffset .8s ease .5s;
        }
        polyline {
            stroke-dasharray: 18;
            stroke-dashoffset: 18;
            transition: stroke-dashoffset .5s ease 0s;
        }
    }
    &.success {
        svg {
            polyline,
            path {
                stroke: $success;
            }
            path {
                stroke-dasharray: 46;
                stroke-dashoffset: 150;
                transition: stroke-dasharray .6s ease 0s, stroke-dashoffset .8s ease .3s, stroke .3s ease .6s;
            }
            polyline {
                stroke-dashoffset: 0;
                transition: stroke-dashoffset .5s ease .6s, stroke .3s ease .6s;
            }
        }
    }
}