<div class="container space-2 space-md-3">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <div class="pr-lg-4">
        <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
          <span class="small font-weight-semi-bold btn-icon__inner">01.</span>
        </span>
        <h2 class="h4 font-weight-semi-bold text-primary">Notaðu Bitar</h2>
        <p class="mb-0">Við erum ódýrastir og einfaldastir á íslandi.
          Öll kerfin okkar eru opinn fyrir öllum og getur þú skoðað kóðann
          <a href="https://github.com/bitarehf" target="_blank">á GitHub</a>.</p>
      </div>
    </div>

    <div class="col-lg-7">
      <img src="../../../../assets/marketing-strategy-flat-concept-illustration.svg">
    </div>
  </div>
</div>

<div class="container space-1">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
      <div class="pr-lg-4">
        <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
          <span class="small font-weight-semi-bold btn-icon__inner">02.</span>
        </span>
        <h2 class="h4 font-weight-semi-bold text-primary">Hvað er Bitcoin?</h2>
        <p class="mb-0">Bitcoin er gjaldmiðill sem er án miðstjórnar aðila eins og seðlabanka.
          Bankar geta ekki búið til Bitcoin að vild.
          Það eru enginn skilyrði til að taka þátt í Bitcoin.</p>
      </div>
    </div>

    <div class="col-lg-7">
      <img src="../../../../assets/app-development-flat-concept-illustration.svg">
    </div>
  </div>
</div>

<div class="container space-2 space-md-3">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <div class="pr-lg-4">
        <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
          <span class="small font-weight-semi-bold btn-icon__inner">03.</span>
        </span>
        <h2 class="h4 font-weight-semi-bold text-primary">Betri reikningar</h2>
        <p class="mb-0">Við notum Bech32 reikninga sem
          gerir það að verkum að millifærslukostnaður er ~40% ódýrari en þær hefðbundnu.
        </p>
      </div>
    </div>

    <div class="col-lg-7">
      <img src="../../../../assets/business-analysis-flat-concept-illustration.svg">
    </div>
  </div>
</div>
