<div class="container">

  <div class="u-space-3">
    <div class="row align-items-lg-center">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <div class="pr-lg-4">
          <span class="u-icon u-icon-primary--air rounded-circle mb-3">
            <span class="small font-weight-bold u-icon__inner">01.</span>
          </span>
          <h2 class="h4 text-primary"><strong>Smart evaluation model</strong></h2>
          <p class="mb-0">Sophisticated model providing analysis for the entire blockchain asset ecosystem. Strategic
            insights based on research, trends,and 50+ unique indicators to properly evaluate investment potential and
            risk.</p>
        </div>
      </div>

      <div class="col-lg-7 mb-7 mb-lg-0">
        <img src="../../../../assets/marketing-strategy-flat-concept-illustration.svg" alt="SVG Illustration">
      </div>
    </div>
  </div>

  <div class="u-space-1">
    <div class="row align-items-lg-center">
      <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
        <div class="pl-lg-4">
          <span class="u-icon u-icon-primary--air rounded-circle mb-3">
            <span class="small font-weight-bold u-icon__inner">02.</span>
          </span>
          <h2 class="h4 text-primary"><strong>Safe. Stable. Secure.</strong></h2>
          <p class="mb-0">Advanced distributed system architecture built to protect against DDoS and other potential
            threats. More than 98% of digital assets stored in multi-signature,cold wallets. Security protocols are
            fully
            aligned and compliant with industry best practices.</p>
        </div>
      </div>

      <div class="col-lg-7 order-lg-1 mb-7 mb-lg-0">
        <img src="../../../../assets/app-development-flat-concept-illustration.svg" alt="SVG Illustration">
      </div>
    </div>
  </div>

  <div class="u-space-3">
    <div class="row align-items-lg-center">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <div class="pr-lg-4">
          <span class="u-icon u-icon-primary--air rounded-circle mb-3">
            <span class="small font-weight-bold u-icon__inner">03.</span>
          </span>
          <h2 class="h4 text-primary"><strong>Now, zero fees for everyone</strong></h2>
          <p class="mb-0">Empowering millions of users, across 130+ countries. Over $1 Billion in assets. 24/7/365
            customer access and support. A trusted world-class operation designed specifically for knowledgeable
            crypto-investors.</p>
        </div>
      </div>

      <div class="col-lg-7 mb-7 mb-lg-0">
        <img src="../../../../assets/business-analysis-flat-concept-illustration.svg" alt="SVG Illustration">
      </div>
    </div>
  </div>
</div>