<div class="container">

  <div class="u-space-3">
    <div class="row align-items-lg-center">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <div class="pr-lg-4">
          <span class="u-icon u-icon-primary--air rounded-circle mb-3">
            <span class="small font-weight-bold u-icon__inner">01.</span>
          </span>
          <h2 class="h4 text-primary"><strong>Af hverju á ég að nota Bitar?</strong></h2>
          <p class="mb-0">Við erum ódýrasti, hraðvirkasti og einfaldasti aðilinn á Íslandi.
            Kerfið okkar er 100% sjálfvirkt svo millifærslur fara beint í geng.
            Öll kerfin okkar eru opinn fyrir öllum og getur þú skoðað kóðann
            <a href="https://github.com/bitarehf" target="_blank">á GitHub</a>.
          </p>

        </div>
      </div>

      <div class="col-lg-7 mb-7 mb-lg-0">
        <img src="../../../../assets/marketing-strategy-flat-concept-illustration.svg">
      </div>
    </div>
  </div>

  <div class="u-space-1">
    <div class="row align-items-lg-center">
      <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
        <div class="pl-lg-4">
          <span class="u-icon u-icon-primary--air rounded-circle mb-3">
            <span class="small font-weight-bold u-icon__inner">02.</span>
          </span>
          <h2 class="h4 text-primary"><strong>Hvað er Bitcoin?</strong></h2>
          <p class="mb-0">Bitcoin er gjaldmiðill sem er án miðstjórnar aðila eins og seðlabanka. 
            Bankar geta ekki búið til Bitcoin að vild.
            Það eru enginn skilyrði til að taka þátt í Bitcoin.</p>

        </div>
      </div>

      <div class="col-lg-7 order-lg-1 mb-7 mb-lg-0">
        <img src="../../../../assets/app-development-flat-concept-illustration.svg">
      </div>
    </div>
  </div>

  <div class="u-space-3">
    <div class="row align-items-lg-center">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <div class="pr-lg-4">
          <span class="u-icon u-icon-primary--air rounded-circle mb-3">
            <span class="small font-weight-bold u-icon__inner">03.</span>
          </span>
          <h2 class="h4 text-primary"><strong>Bestu verðin</strong></h2>
          <p class="mb-0">Við notum alvöru SegWit (Bech32) reikninga og 
             þá millifærslurnar töluvert ódýrari en þær hefðbundnu.
            Kerfið okkar velur besta verðið af nokkrum byrgjum og er verðið því alltaf eins lágt og mögulega hægt*.</p>
        </div>
      </div>

      <div class="col-lg-7 mb-7 mb-lg-0">
        <img src="../../../../assets/business-analysis-flat-concept-illustration.svg">
      </div>
    </div>
  </div>
</div>