<div class="container space-top-3 space-top-lg-4 space-bottom-2 position-relative z-index-2">
  <div class="w-md-80 w-lg-60 text-center mx-md-auto">
    <h1 class="text-primary">Skilmálar Bitar ehf.</h1>
    <p>Halló, og velkomin á Bitar. Vinsamlegast lestu skilmálana okkar vandlega þar sem þeir hafa áhrif á þín
      lagaleg réttindi. Hverskyns deilumál sem upp koma á milli aðila og sem ekki tekst að leysa með samningum skulu
      vera rekin fyrir Héraðsdómi Reykjavíkur.
      Við vonum að þú situr þægilega og hlustar á góða tónlist á meðan þú lest skilmálana.</p>
    <p>Byrjum…</p>
  </div>
</div>

<div class="u-bg-light">
  <div class="container space-2">
    <div class="row">
      <div class="col-md-4 col-lg-3 mb-7 mb-md-0"></div>

      <div class="col-md-8 col-lg-9">
        <div class="space-bottom-1">
          <div class="mb-3">
            <h5>1. Inngangur</h5>
          </div>
          <p>Takk fyrir að nota okkar þjónustu. Þjónustan er veitt af Bitar ehf.</p>
          <p>Með því að nota vefsíður okkar, þjónustur eða hugbúnað, samþykkir þú þessa skilmála.</p>
          <p>Þjónustunar okkar eru mjög fjölbreyttar svo stundum eru viðbóta skilmálar eða skilyrði (þ.m.t. aldurs
            kröfur). Viðbótaskilmálar fylgja viðkomandi þjónustum. Viðbótaskilmálar verða hluti af samningnum
            þínum við okkur ef þú notar þær þjónustur.
          </p>
        </div>

        <div class="u-space-2 active">
          <div class="mb-3">
            <h5>2. Notkun á þjónustu</h5>
          </div>
          <p>Þú verður að fylgja öllum reglum sem þú hefur aðgang að innan þjónustunnar.</p>
          <p>Ekki misnota þjónusturnar okkar. Til dæmis, ekki trufla þjónustuna okkar viljandi eða reyna fá aðgang að
            þeim á annan hátt en í gegnum vefsíðuna okkar, app eða þær leiðir sem bjóðum leiðbeiningar með.
            Þú mátt aðeins nota þjónustuna okkar eins og heimilt er samkvæmt lögum. Við getum frestað eða hætt að
            veita
            þjónustu okkar til þín ef þú ert ekki í samræmi við skilmálana okkar eða reglur.
          </p>
          <p>Þú mátt ekki nota efni úr þjónustum okkar nema þú fáir leyfi frá eiganda þess eða er leyfilegt samkvæmt
            lögum.
            Ekki fjarlægja, hylja eða breyta lagalegum tilkynningum sem birtast í eða með þjónustu okkar.
          </p>
          <p>Bitar ehf. áskilur sér rétt til að hætta við pantanir, t.d. vegna rangra verðupplýsinga
            og einnig að breyta verðum eða hætta að bjóða upp á vörutegundir fyrirvaralaust.
            Áskilinn er réttur til að staðfesta pantanir símleiðis.
          </p>
        </div>

        <div class="space-bottom-1">
          <div class="mb-3">
            <h5>3. Persónuvernd</h5>
          </div>
          <p>Persónuverndarlög Bitar ehf. útskýra hvernig við meðhöndlum persónupplýsingar þínar og verndum friðhelgi
            þína þegar þú notar þjónustuna okkar. Með því að nota þjónusturnar okkar samþykkir þú að Bitar ehf. getur
            notað slík gögn í samræmi við persónuverndarlögin okkar.
          </p>
          <p>Ef þú telur að einhver hefur brotið á þér með því að nota okkar þjónustu getur þú haft samband við okkur
            með tölvupóst.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>