/*------------------------------------
  Sticky Footer Styles
------------------------------------*/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 279.78px;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 279.78px;
}