<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="display-4 font-size-48--md-down mb-3">Bitar</h1>
      <p>
        Viltu kaupa bitcoin á
        <span class="text-primary">
          <strong class="writer"></strong>
        </span>
        <br>Þá ertu kominn á réttan stað! Við notum nýjustu tækni og erum ljósárum á undan samkeppnis aðilum.
      </p>
      <br>
      <br>
      <app-rates></app-rates>
    </div>
    <div class="col-lg-6">
      <h1 class="display-4 font-size-48--md-down">Stofnaðu aðgang</h1>
      <h2 class="h4 text-primary"><strong>Það er fljótt og auðvelt!</strong></h2>
      <form name="buyForm" (ngSubmit)="register()">
        <div class="s-input" [ngClass]="{'success': emailValid}">
          <input name="email" type="text" placeholder="Netfang" spellcheck="false" [(ngModel)]="account.Email"
            (ngModelChange)="validateEmail()">
          <svg viewBox="0 0 16 16">
            <path
              d="M10.8000002,10.8000002 C9.85000038,11.6500006 9.18349609,12 8,12 C5.80000019,12 4,10.1999998 4,8 C4,5.80000019 5.80000019,4 8,4 C10.1999998,4 12,6 12,8 C12,9.35332031 12.75,9.5 13.5,9.5 C14.25,9.5 15,8.60000038 15,8 C15,4 12,1 8,1 C4,1 1,4 1,8 C1,12 4,15 8,15 C12,15 15,12 15,8">
            </path>
            <polyline points="5 8.375 7.59090909 11 14.5 4" transform='translate(0 -0.5)'></polyline>
          </svg>
        </div>
        <br>
        <div class="s-input" [ngClass]="{'success': idValid}">
          <input name="id" type="text" placeholder="Kennitala" [(ngModel)]="account.Id" (ngModelChange)="validateId()"
            [textMask]="{mask: idMask, guide: false}">
          <svg viewBox="0 0 16 16">
            <path
              d="M10.8000002,10.8000002 C9.85000038,11.6500006 9.18349609,12 8,12 C5.80000019,12 4,10.1999998 4,8 C4,5.80000019 5.80000019,4 8,4 C10.1999998,4 12,6 12,8 C12,9.35332031 12.75,9.5 13.5,9.5 C14.25,9.5 15,8.60000038 15,8 C15,4 12,1 8,1 C4,1 1,4 1,8 C1,12 4,15 8,15 C12,15 15,12 15,8">
            </path>
            <polyline points="5 8.375 7.59090909 11 14.5 4" transform='translate(0 -0.5)'></polyline>
          </svg>
        </div>
        <br>
        <div class="s-input" [ngClass]="{'success': passwordValid}">
          <input name="password" type="password" placeholder="Nýtt lykilorð" spellcheck="false"
            [(ngModel)]="account.Password" (ngModelChange)="validatePassword()">
          <svg viewBox="0 0 16 16">
            <path
              d="M10.8000002,10.8000002 C9.85000038,11.6500006 9.18349609,12 8,12 C5.80000019,12 4,10.1999998 4,8 C4,5.80000019 5.80000019,4 8,4 C10.1999998,4 12,6 12,8 C12,9.35332031 12.75,9.5 13.5,9.5 C14.25,9.5 15,8.60000038 15,8 C15,4 12,1 8,1 C4,1 1,4 1,8 C1,12 4,15 8,15 C12,15 15,12 15,8">
            </path>
            <polyline points="5 8.375 7.59090909 11 14.5 4" transform='translate(0 -0.5)'></polyline>
          </svg>
        </div>
        <br>
        <small class="text-muted">
          Með því að stofna aðgang samþykkir þú
          <a class="link-muted" target="_blank" routerLink="terms">skilmálana okkar</a>.
        </small>
        <br>
        <br>
        <div class="d-flex">
          <button class="btn u-btn-primary--air u-btn-wide transition-3d-hover">Stofna aðgang</button>
          <!-- Fancybox -->
          <a class="media align-items-center u-instruction ml-3" href="#">
            <span class="mr-3">
              <span class="u-instruction__icon u-instruction__icon--success">
                <span class="fas fa-book u-instruction__icon-inner"></span>
              </span>
            </span>
            <span class="media-body">Leiðbeiningar (soon)</span>
          </a>
          <!-- End Fancybox -->
        </div>
        <br>

      </form>
    </div>
  </div>
</div>