<div class="container">
  <div class="row">
    <div class="col-lg-6 d-none d-lg-block">
      <h1 class="display-4 font-size-48--md-down mb-3">Bitar</h1>
      <p>
        Viltu kaupa bitcoin á
        <span class="text-primary">
          <strong class="writer"></strong>
        </span>
        <br>Þá ertu kominn á réttan stað! Við notum nýjustu tækni og erum ljósárum á undan samkeppnis aðilum.
      </p>
      <br>
      <br>
      <app-rates></app-rates>
    </div>
    <div class="col-lg-6">

      <h1 class="display-4 font-size-48--md-down text-center">Stofnaðu aðgang</h1>
      <h2 class="text-primary text-center mb-2"><strong>Það er fljótt og auðvelt!</strong></h2>

      <form class="card shadow" [formGroup]="registerForm" (ngSubmit)="submitHandler()">
        <div class="card-body p-5 p-md-6">
          <div class="row">

            <div class="col-sm-12 mb-3">
              <!-- Form Group -->
              <div class="form-group">
                <label class="form-label">Kennitala <span class="text-danger">*</span></label>
                <input class="form-control font-italic" placeholder="470818-0420"
                  [class.validation-error]="id.touched && !idValid" [class.validation-success]="idValid"
                  formControlName="id" autocomplete="off" (ngModelChange)="validateId()"
                  [textMask]="{mask: idMask, guide: false}">
                <div *ngIf="id.touched && !idValid" class="invalid-feedback d-block">
                  Vinsamlegast sláðu inn gilda kennitölu
                </div>
              </div>
              <!-- End Form Group -->
            </div>

            <div class="col-sm-12 mb-3">
              <!-- Form Group -->
              <div class="form-group">
                <label class="form-label">Netfang <span class="text-danger">*</span></label>
                <input class="form-control" spellcheck="false" placeholder="forsetinn@gmail.com"
                  [class.validation-error]="email.invalid && email.touched"
                  [class.validation-success]="email.valid && email.touched" formControlName="email" autocomplete="off">
                <div *ngIf="email.invalid && email.touched" class="invalid-feedback d-block">
                  Vinsamlegast sláðu inn gilt netfang
                </div>
              </div>
              <!-- End Form Group -->
            </div>

            <div class="col-sm-12 mb-3">
              <!-- Form Group -->
              <div class="form-group">
                <label class="form-label">Nýtt Lykilorð <span class="text-danger">*</span></label>
                <input class="form-control" placeholder="*********"
                  [class.validation-error]="password.invalid && password.touched"
                  [class.validation-success]="password.valid && password.touched" formControlName="password"
                  autocomplete="new-password">
                <div *ngIf="password.invalid && password.touched" class="invalid-feedback d-block">
                  Vinsamlegast sláðu inn gilt lykilorð
                </div>
              </div>
              <!-- End Form Group -->
            </div>

          </div>

          <!-- Terms -->
          <div class="mb-5 d-flex align-items-center">
            <small class="text-muted">
              Með því að stofna aðgang samþykkir þú
              <a class="link-muted" target="_blank" routerLink="terms">skilmálana okkar</a>.
            </small>
          </div>
          <!-- End Terms -->

          <button type="submit" class="btn btn-block btn-soft-primary transition-3d-hover">
            Stofna aðgang
            <span class="fas fa-angle-right align-middle ml-2"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>