<div class="d-flex align-items-center u-space-4">
  <div class="container">
    <div class="w-lg-60 w-xl-50">
      <!-- Title -->
      <div class="mb-5">
        <h1 class="text-primary font-weight-normal">Síða finnst <span class="font-weight-bold">ekki</span></h1>
        <p class="mb-0">Úbbs! Það lítur út fyrir að þú hafir notað slæman hlekk.</p>
        <p>Ef þú heldur að þetta sé vandamál hjá okkur geturu sent okkur tölvupóst.</p>
      </div>
      <!-- End Title -->

      <a class="btn btn-primary u-btn-primary u-btn-wide transition-3d-hover" routerLink="">Til baka</a>
    </div>
  </div>
</div>