<div class="container space-2">
    <div class="pl-lg-9 pl-xl-8">
        <div class="hs-docs-content-divider">
            <h1>Uppfærslur</h1>
            <p class="lead">Skoðaðu allar helstu uppfærslur</p>
        </div>

        <div class="hs-docs-content-divider">
            <h3 class="hs-docs-heading"><code class="highlighter-rouge">v0.2</code> - 31. mars 2020
                <a class="anchor-link" href="#version3_1"></a>
            </h3>
            <p>
                <span class="hs-docs-badge badge badge-soft-primary py-2 mr-2">Nýtt</span>
                Myndrit af
                <a routerLink="/exchange-rate" target="_blank">gengissögu</a> bitcoin á bitar.</p>
            <p>
                <span class="hs-docs-badge badge badge-soft-primary py-2 mr-2">Nýtt</span>
                Forritara
                <a href="https://api.bitar.is" target="_blank" rel="noreferrer">API Leiðbeiningar</a>.
            </p>
            <p>
                <span class="hs-docs-badge badge badge-soft-primary py-2 mr-2">Nýtt</span>
                Sölugengi er núna í boði fyrir bitcoin.
            </p>
            <p>
                <span class="hs-docs-badge badge badge-soft-primary py-2 mr-2">Nýtt</span>
                Innskráninga og nýskráninga villuboð.
            </p>
            <p>
                <span class="hs-docs-badge badge badge-soft-success py-2 mr-2">Uppfært</span>
                PostgreSQL.
            </p>
            <p>
                <span class="hs-docs-badge badge badge-soft-success py-2 mr-2">Uppfært</span>
                Front SCSS safnið.
            </p>
            <p>
                <span class="hs-docs-badge badge badge-soft-success py-2 mr-2">Uppfært</span>
                Leiðbeiningar (óklárað).
            </p>
            <p>
                <span class="hs-docs-badge badge badge-soft-danger py-2 mr-2">Lagað</span>
                Bitcoin staðfestingartími of mikill.
            </p>
            <p>
                <span class="hs-docs-badge badge badge-soft-danger py-2 mr-2">Lagað</span>
                Bakenda tenging við gengi hjá landsbankanum.
                </p>
            <p>
                <span class="hs-docs-badge badge badge-soft-danger py-2 mr-2">Lagað</span>
                Nafn og netfang í hausnum á /dashboard.
            </p>

        </div>

        <div id="version3_0-migrating-to-v3" class="my-5">
            <h3 class="h4 font-weight-medium">Fyrsta nothæfa útgáfan (næstum því)<a class="anchor-link"
                    href="#version3_0-migrating-to-v3"></a></h3>
            <p>Bitar v0.2 er að mestu leiti uppfærsla á framendanum</p>

            <p>Athyglisverðustu endurbæturnar sem gerðar voru</p>
            <ul class="hs-docs-list-md">
                <li><strong>Hönnun</strong> - næstum allar síður eru endurhannaðar með nýju útliti.</li>
                <li><strong>JavaScript</strong> - losuðum okkur við nánast öll óþarfa forritunar söfn.</li>
                <li><strong>Brotli</strong> - við notum núna Brotli þjöppun til að gera vefsíðuna hraðvirkari.</li>
                <li><strong>TLSv1.3</strong> - stuðningur fyrir eldhraðar TLSv1.3 0-RTT tengingar.</li>
            </ul>
        </div>

        <div id="initial-release" class="hs-docs-content-divider">
            <h3 class="hs-docs-heading"><code class="highlighter-rouge">v0.1</code> - 1. febrúar 2020<a
                    class="anchorjs-link" href="#initial-release" aria-label="Anchor" data-anchorjs-icon="#"></a></h3>
        </div>
        <p>Hér voru mikið af svartagöldrum framkvæmdir til að koma öllu í gang.</p>
    </div>
</div>