<div class="w-40 mx-auto" style="max-width: 625px; min-width: 275px;">
  <form [formGroup]="loginForm" (ngSubmit)="submitHandler()">
    <!-- Login -->
    <div id="login">
      <!-- Title -->
      <header class="text-center mb-7">
        <h2 class="h4 mb-0">Halló!</h2>
        <p>Innskráðu þig til að stjórna reikningnum þínum.</p>
      </header>
      <!-- End Title -->

      <!-- Input -->
      <div class="mb-4">
        <label class="form-label">Kennitala eða netfang</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-user"></span>
            </span>
          </div>
          <input class="form-control" placeholder="Kennitala eða netfang" formControlName="user"
            [class.validation-error]="!userValid && user.touched" [class.validation-success]="userValid && user.touched"
            (ngModelChange)="validateUser()">
          <div *ngIf="user.touched && !userValid" class="invalid-feedback d-block">
            Vinsamlegast sláðu inn gilda kennitölu eða gilt netfang
          </div>
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="mb-2">
        <label class="form-label">Lykilorð</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-lock"></span>
            </span>
          </div>
          <input type="password" class="form-control" placeholder="Lykilorð" formControlName="password"
            [class.validation-error]="password.invalid && password.touched" [class.validation-success]="password.valid">
          <div *ngIf="password.invalid && password.touched" class="invalid-feedback d-block">
            Vinsamlegast sláðu inn gilt lykilorð
          </div>
        </div>
      </div>
      <!-- End Input -->

      <div class="clearfix mb-4">
        <a class="float-right small u-link-muted" href="#">Gleymt Lykilorð?</a>
      </div>

      <button type="submit" class="btn btn-block btn-primary transition-3d-hover mb-2">Innskrá</button>

      <div class="text-center mb-4">
        <span class="small text-muted">Áttu ekki reikning? </span>
        <a class="small" routerLink="">Stofnaðu þá reikning</a>
      </div>
    </div>

  </form>
</div>