<div class="container space-top-1">

  <div class="card">
    <!-- Header -->
    <div class="card-header">
      <h5 class="card-header-title">Hreyfingar</h5>
    </div>
    <!-- End Header -->
    <div class="table-responsive">


        <!-- Row Detail Template -->
          <ng-template let-row="row">
            <ng-container *ngIf="row.type === 0">
              <div class="card border bg-img-hero" style="background-image: url(assets/svg/abstract-shapes-18.svg);">
                <div class="card-body p-5 p-md-7 p-lg-11">
                  <div class="row justify-content-lg-between align-items-sm-center mb-11">
                    <div class="col-sm-6 col-lg-4 order-sm-2 text-sm-right mb-5 mb-sm-0">
                      <h1 class="h2 mb-0">
                        Reikningur #
                        <small class="d-block">{{ row.id }}</small>
                      </h1>
                    </div>

                    <div class="col-sm-6 col-lg-4 order-sm-1">
                      <!-- Logo -->
                      <img class="mb-2" src="assets/bitar.svg" height="46" width="46">
                      <h2 class="h1 text-primary">Bitar ehf.</h2>
                      <!-- End Logo -->

                      <!-- Company Id -->
                      <p>
                        Kt. 470818-0420
                      </p>
                      <!-- End Company Id -->
                    </div>
                  </div>

                  <!-- Bill To -->
                  <div class="row justify-content-md-between mb-7">
                    <div class="col-md-5 col-lg-4">
                      <h3>Viðskiptamaður:</h3>
                      <span class="d-block text-dark font-weight-bold">{{ username }}</span>
                      <p class="text-body mb-0">Kt. {{ row.personalId }}</p>
                    </div>

                    <div class="col-md-5 col-lg-4 mt-6">
                      <dl class="row mb-0">
                        <dt class="col-5 col-md-6 text-body">Dagsetning:</dt>
                        <dd class="col-7 col-md-6 text-dark font-weight-bold">{{ row.time }}</dd>
                      </dl>
                      <dl class="row mb-0">
                        <dt class="col-5 col-md-6 text-body">Tími:</dt>
                        <dd class="col-7 col-md-6 text-dark font-weight-bold">{{ row.time }}</dd>
                      </dl>
                    </div>
                  </div>
                  <!-- End Bill To -->

                  <!-- Table -->
                  <div class="table-responsive-lg">
                    <table class="table table-heighlighted font-size-1 mb-0">
                      <thead>
                        <tr class="text-uppercase text-body">
                          <th class="font-weight-bold">Lýsing</th>
                          <th class="font-weight-bold">Magn</th>
                          <th class="font-weight-bold">Ein.verð</th>
                          <th class="font-weight-bold">VSK%</th>
                          <th class="font-weight-bold text-right">Upphæð</th>
                        </tr>
                      </thead>
                      <tbody class="text-dark">
                        <tr>
                          <th scope="row">Bitcoin</th>
                          <td>{{ row.coins }}</td>
                          <td>{{ row.rate }}</td>
                          <td>0</td>
                          <td class="text-right">{{ -row.amount * 0.995  }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Þóknun {{ row.fee / row.amount * 100  }}%</th>
                          <td>1</td>
                          <td>{{ -row.fee }}</td>
                          <td>0</td>
                          <td class="text-right">{{ -row.fee  }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- End Table -->

                  <!-- Total -->
                  <div class="border-top border-dark pt-2 mb-9">
                    <div class="row">
                      <div class="col-6">
                        <div class="text-dark pl-2">
                          Samtals
                        </div>
                      </div>
                      <div class="col-6 text-right">
                        <div class="text-dark pr-2">
                          {{ -row.amount }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Total -->

                  <!-- Contacts -->
                  <div class="row justify-content-lg-between">
                    <div class="col-md-8 col-lg-7 order-md-2 mb-5 mb-md-0">
                      <h4>Takk!</h4>
                      <p class="font-size-1 mb-0">Hafðu samband ef þú hefur einhverjar spurningar.</p>

                      <span class="d-block">
                        <small class="text-dark font-weight-bold">Netfang: </small>
                        <small class="text-muted">bitar@bitar.is</small>
                      </span>
                      <small class="text-dark font-weight-bold">Sími: </small>
                      <small class="text-muted">617-3807</small>
                    </div>

                    <div class="col-md-4 col-lg-3 order-md-1 align-self-end">
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item u-ver-divider pr-3 mr-3">
                          <a routerLink="/dashboard/transactions">
                            <span class="fas fa-file-word text-secondary mr-1"></span>
                            Sækja
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a routerLink="/dashboard/transactions">
                            <span class="fas fa-print text-secondary mr-1"></span>
                            Prenta
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Contacts -->

                </div>
                <p class="font-size-1 text-center mb-0">Þessi reikningur er rafrænt ytra frumgagn skv. reglugerð nr.
                  505/2013.</p>
                <a class="font-size-1 text-center mb-2" href="https://blockchain.coinmarketcap.com/tx/bitcoin/{{ row.txId }}"
                  target="_blank" rel="noreferrer">
                  {{ row.txId }}</a>
              </div>
            </ng-container>
            
          </ng-template>

    </div>
  </div>
</div>